{{define "navCat"}}
<div class="cat">
	<a href="/c/{{.Slug}}">
		{{if .Icon}}<span class="ico">{{.Icon}}</span>{{end}}
		<span>{{.Name}}</span>
		{{if .Children}}<span class="chev">▾</span>{{end}}
	</a>
	{{if .Children}}
	<div class="panel">
		{{range .Children}}{{template "navLeaf" .}}{{end}}
	</div>
	{{end}}
</div>
{{end}}

{{define "navLeaf"}}
<div class="leaf">
	<a href="/c/{{.Slug}}">
		{{if .Icon}}<span class="ico">{{.Icon}}</span>{{end}}
		<span>{{.Name}}</span>
		{{if .Children}}<span class="chev2">›</span>{{end}}
	</a>
	{{if .Children}}
	<div class="panel">
		{{range .Children}}{{template "navLeaf" .}}{{end}}
	</div>
	{{end}}
</div>
{{end}}

{{define "cat"}}<li>
	<a href="/c/{{.Slug}}">
		{{if .Icon}}<span class="ico">{{.Icon}}</span>{{end}}
		<span>{{.Name}}</span>
		{{if .Children}}<span class="chev">▾</span>{{end}}
	</a>
	{{if .Children}}<ul>{{range .Children}}{{template "cat" .}}{{end}}</ul>{{end}}
</li>{{end}}
